html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: #F0F8FF;
    margin: 0;
    background: #0D1C3F;
    
}

.header{
    background-color: #071F46;
    display: flex;
}

#title{
    margin: auto;
    font-size: 3rem;
}

#userSelection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2%;
    background-color: #0C519C;

}

select{
    text-align: left;
    padding: 0.5rem;
    width: fit-content; 
    background-color: #0C519C;
    border: 0;
    color: #F0F8FF; 
    font-size: 16px;
}

.formWelcome{
    background-image: url("https://pokemaster.es/css/i/p/imagen_193517.png");
    background-size: cover;
    display: flex;
    background-position: center center;
    justify-content: center;
    min-height: 100vh; 
    background-attachment: fixed;
 }

.formLogin{
    background-color:rgba(247, 253, 253, 0.7);
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 6px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding: 1rem;
}

.card-search, .input{
    background-color: #F0F8FF;
}
  
.buttonCard{
    background-color: #F0F8FF ;
    margin:auto;
    height: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  4px 4px #24437A ;
    border-radius: 6px;
    color: #24437A;
    font-weight: bold;
}


.onePokemon{
    background-color: #F0F8FF ;
    height: auto;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  4px 4px #24437A ;
    border-radius: 6px;
    color: #24437A;
    font-weight: bold;
}

.pokemonContainer{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
  }

.onePokemon img{
    padding: 2rem;
    margin:auto;
}

.onePokemon:active{
    background-color: #B0C4DE;
}

#pokemonNumber{
    font-weight: 700;
}

#pokemonName{
    margin: 0;
}
/*
.modalContainer{
    display: flex;
    background-color: rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}*/



#pokedex{
    display: none;
}

.modal{
  
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5c5c86;
    width:70%;
    height: 60%;
    padding: 2%;
    border-radius: 10px;
    margin: auto;
}


   