@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto:wght@300&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    color: #F0F8FF;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://i.ibb.co/CMLm0mJ/nature-sky-moonlight-cloud-flower-pokemon-575486-wallhere-com.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
}

.formWelcome{
    /*background-image: url("https://i.ibb.co/PMDsSWp/TAU50N.jpg");
    background-size: cover;*/
    display: flex;
    background-position: center center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
    background-attachment: fixed;
 }

 .formLogin{
    width: 50%;
    height: 80%;
    margin: auto;
    padding: 4rem 1rem;
    background-color:rgba(247, 253, 253, 0.7);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.formTitle{
    margin: 1rem 0;
}
.formLogin h1{
    color: #24437A;
    font-size: 20px;
    margin: 1rem 0;
}

.formLogin p {
    visibility: hidden;
    color: #24437A;
    margin: 0
}

#goPokedex{
    color: #F0F8FF;
    font-weight: 500;
    background: #273082;
    border: none;
}

#goPokedex:hover{
    background: #232055;
}

.header{
    background-color: #232055;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

#userSelection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2%;
    background-color: #273082;
}

#goPokedex, input {
    border-radius: 15px;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

input, .onePokemon {
    background-color: #F0F8FF;
    border: 0;
}

#pokedex{
    display: none;
}

select{
    text-align: left;
    padding: 0.5rem;
    width: 156px; 
    background-color: #273082;
    border: 0;
    color: #F0F8FF; 
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
.pokemonContainer{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   padding: 0 2rem;
}

.onePokemon{
    height: auto;
    width: 200px;
    margin: 0.8rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  4px 4px #24437A ;
    border-radius: 6px;
    color: #24437A;
    font-weight: bold;
}

.onePokemon img{
    padding: 2rem;
    margin: 0;
}

.onePokemon:hover{
    background: #B0C4DE;
}

#pokemonName{
    font-size: 14px;
    padding: 1rem 2.5rem 0 2.5rem;
    margin: 0
}

.modal{
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: none;
}

.modalContainer{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #24437A;
    width:70%;
    height: fit-content;
    padding: 1rem;
    border-radius: 10px;
    margin: auto;
}

.modalContainer p{
    margin: 1rem;
}

.percentage{
    text-align: center;
    margin: 2rem 0 1rem 0;
}

#pokemonNameInModal{
    font-size: 2rem;
    font-weight: bold;
}

#close{
    float: right;
    border: solid 2px #F0F8FF;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #24437A;
    color: #F0F8FF;
    font-weight: bold;
    padding: 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#close:hover{
    background-color: #B0C4DE;
}

.tableAndPokemon{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

table{
   border-collapse: collapse;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
   font-size: 14px;
}

td, th{
    padding: 0 1rem;
    border: solid 1px #F0F8FF;
}

td{
    padding: 0 2rem;
}

.imgAndType{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgAndType p{
    margin: 0.5rem;
    text-align: center;
}

.go-top-container{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.go-top-buttom{
    position: relative;
    width: 0;
    height: 0;
    background: #24437A;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.go-top-buttom p{
    font-weight: bolder;
    color: #F0F8FF;
    font-size: 1.5rem;
    transition: 0.3s;
    margin: 0;
    visibility: hidden;
}

.show{
    z-index: 10;
}

.show .go-top-buttom{
    animation: popup .3s ease-in-out;
    width: 4rem;
    height: 4rem;
    z-index: 11;
}

.show p{
    transform: translateY(-5%) scale(1);
    transition: 0.3s;
    visibility: visible;
}

@keyframes popup {
    0%{
        width: 0;
        height: 0;
    }
    50%{
        width: 6rem;
        height: 6rem;
    }
    100%{
        width: 4rem;
        height: 4rem;
    }
}

.footer-info {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer-info span, a {
    font-style: bold;
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: white;
}

.footer-info a:hover {
    color: #ead7a5;
}

.footer-info {
    display: flex;
    gap: 20px;
    justify-content: center;
  
  }

.footer-info span,a{
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: white;
   
}
.footer-info a:hover {
    color: #ead7a5;
}

.pikGif {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 1rem 0 6rem 0;
}

.pikGif img {
    width: 50%;
    height: auto;
}
  
@media screen and (max-width:768px) {
    *{
        font-size: 15px;
    }
    .header{
        flex-direction: column;
    }
    .header img{
        margin: 1rem 0;
    }
    .formTitle{
        width: 100%;
    }
    .pikGif {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    *{
        font-size: 14px;
    }
    .formLogin{
        width: 70%;
        padding: 9rem 2rem;
    }
    .onePokemon{
        width: 172px;
    }
    .modalContainer{
        width: 80%;
    }
    td, th{
        font-size: 12px;
    }
    .pikGif{
        margin: 1rem 0 5rem 0;
    }
    .pikGif img{
        width: 80%;
    }
    .footer-info span, a{
        font-size: 0.75em;
    }
}